/* main navbar color */
.navbar{
  background-color: #760000 !important; 
}

/* default links */
a {
  color: #760000 !important; 
}

/* navbar links & brand */
.navbar .navbar-nav .nav-link,
.navbar .navbar-brand,
.navbar a {
  font-size: 20px !important; 
  color: #ffffff !important;  
}

/* text selection highlight */
::selection {
  background: #760000;
  color: #ffffff;
}

/* hover text color */
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-brand:hover {
  color: #f0f0f0 !important;
}

/* toggler button (mobile) */
.navbar-toggler {
  border-color: transparent !important;
}

.navbar-toggler-icon {
  background-image: none !important;
}

.navbar-toggler-icon::before {
  content: "\2630"; 
  font-size: 2rem;
  color: #ffffff !important;
}

/* icons inside navbar */
.navbar .bi,
.navbar svg {
  color: #ffffff !important;
  stroke: #ffffff !important;
  fill: #ffffff !important;
}

.navbar .quarto-search-icon {
  color: #ffffff !important;
}

/* about-links */
.about-link {
  transition: 
    background 0.6s ease,
    box-shadow 0.5s ease;
}
.about-link:hover {
  background: rgba(118, 0, 0, .1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

/* NAVBAR ENHANCEMENTS */

.navbar .navbar-nav .nav-link {
  padding: 6px 16px;
  border-radius: 3px;
  position: relative;
  transition:
    background-color 0.6s ease,
    color 0.6s ease,
    box-shadow 0.6s ease;
}

.navbar .navbar-nav .nav-link:hover {
  background-color: rgba(0,0,0,0.3); /* <-- now animates */
  color: #ffffff;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus {
  background-color: rgba(255,255,255,0.2);
  color: #ffffff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.navbar .navbar-nav .nav-link.active:hover {
  background-color: rgba(0,0,0,0.2);
}


/* mobile: remove elements */
@media (max-width: 900px) {
  .navbar .navbar-nav .nav-link:hover,
  .navbar .navbar-nav .nav-link.active,
  .navbar .navbar-nav .nav-link.active:hover,
  .navbar .navbar-nav .nav-link:focus {
    box-shadow: none !important;
  }
}
